<a href="https://colab.research.google.com/github/carolinakatherine/data_movies/blob/main/filmes_introdu%C3%A7%C3%A3o_a_ciencias_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# entrada de dados

import pandas as pd

#pd.read_csv("ratings.csv")

notas = pd.read_csv("ratings.csv")

notas.head() # irá mostras as cinco primeiras linhas

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
notas.shape # informa o formato da tabela (100836 avaliações e 4 colunas)

(100836, 4)

In [ ]:
notas.columns = ["usuarioID", "filmeID", "nota", "momento"] # columns serve para renomear as colunas, deve-se colocar em lista[]
notas.head()

   usuarioID  filmeID  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [ ]:
notas["nota"] # serve para ver todos os valores da coluna nota

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [ ]:
notas["nota"].unique() #serve para ver os valores em série, aparecendo uma única vez

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

o pandas serve pra ler um conjunto de dados de diversas maneiras

In [ ]:
notas["nota"].value_counts() #serve para ver a contagem de quantos vezes aparareceu determinada nota

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [ ]:
notas["nota"].mean() #serve para ver a média de todas as notas

3.501556983616962